.name {
        FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Arial, Verdana, Tahoma
}

.descript {
        FONT-WEIGHT: normal; FONT-SIZE: 11pt; FONT-FAMILY: Arial, Verdana, Tahoma
}

.model {
        FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY:  Arial, Verdana, Tahoma
}

.cen {
        FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.cena {
        FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY:  Arial, Verdana, Tahoma
}

p.har {
        FONT-WEIGHT: normal; FONT-SIZE: 11pt; FONT-FAMILY: Arial, Verdana, Tahoma
}

HR {
	MARGIN-BOTTOM: -10px; HEIGHT: 1px
}









