 Заказ # {zid} от {date_zid}

=========== ЗАКАЗАННЫЕ ТОВАРЫ ===============

--------------------------------------------
<!-- BEGIN list -->ID : {id}
Наименование : {name} {model} {mark} {sku} {sp}
Кол-во : {quantity}
Цена 1 шт : {price} руб.
--------------------------------------------

<!-- END list -->
Итого : {price_total} руб.
Стоимость доставки : {delivery_total} руб.
Ваша скидка составляет : {skidka_v} %
Всего к оплате : {summa} руб.


============ ДАННЫЕ О ДОСТАВКЕ ===============

ID Пользователя : {uid}

E-Mail : {email}

ФИО или компания : {fio}

Страна : {country}

Город : {city}

Телефон : {phone}

Ближайшее метро : {metro}

Адрес : {address}

Номер дисконтной карты : {discont}

Дата доставки : {date_delivery}

Время доставки : {time_delivery}

Примечания : {description}

Интернет-магазин www.shedevr.ru